name: ubuntu-latest-texlive

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up PATH
        run: |
          echo "::add-path::/tmp/texlive/bin/x86_64-linux"

      - name: Download and install texlive
        run: |
          curl -s -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl.zip
          unzip -q install-tl.zip
          mv install-tl-2* install-tl-dir
          install-tl-dir/install-tl --profile .github/workflows/texlive.profile

      - name: Install additional CTAN packages
        run: |
          tlmgr install latexmk xetex fontspec biblatex biber pgf pgfplots koma-script
          tlmgr install booktabs chngcntr todonotes glossaries setspace unicode-math xpatch
          tlmgr install lipsum datatool mfirstuc textcase

      - name: Run latexmk
        run: |
          latexmk -c
          latexmk

      - uses: actions/upload-artifact@v2
        with:
          name: Compiled pdf
          path: um-thesis.pdf
